* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 950px) {
    pre {
        overflow: scroll;
    }
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*common styles*/

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
    color:  rgb(207, 154, 9);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(207, 154, 9);
}

ul {
    list-style-position: inside;
}

/*navbar*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 50px;
    width: 100%;
    background-color: rgb(230,167,0);
    padding: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

nav a:hover {
    color: white;
}

/*header*/

header {
    margin-top: 70px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header img {
    height: 300px;
    box-shadow: 0 0 5px;
}

.contacts {
    margin-top: 40px;
}

/*main*/

main {
    padding: 50px;
}

main section {
    margin-bottom: 30px;
}

.code_ex p {
    margin-bottom: 15px;
}

pre {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 85%;
    padding: 10px;
    background-color: rgb(215, 215, 215);
}

/*footer*/

footer {
    min-height: 100px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(207, 154, 9);
}

footer img {
    height: 40px;
}

footer span {
    font-size: 30px;
}